<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>FIRST SAMPLE ON EJS</title>
</head>
<body>
    <div id="wrapper">
        <h3>Hello Embedded Javascript</h3>
        <img src="images/test.jpg" alt="logo" srcset="" width="50">
    </div>
    <script src="third/jq.js"></script>
    <script src="script/dash.js"></script>
</body>
</html>